<div class="ui-widget">                                                                                                                                                                                           
  <input id="institution-name"/>                                                                                                                                                                                  </div>
