<h2>Register</h2>
<div id="links">
    <pre>
Select an option depending in your profile:
        <%= link_to "I'm a student and I'll be doing the social service.", '#', class: "btn btn-link"%>
        <%= link_to "I'm an attendant incorporated and I need to fill my vacancies.", '#', class: "btn btn-link"%>
    </pre>
</div>
