<h2>Registro</h2>
<div class="links">
    <pre>
        Selecciona una opcion dependiendo tu perfil:
        <%= link_to "Soy un estudiante y estare realizando el Servicio Social.",
            signup_path(:role => 'student'), class:"btn btn-link text-wrapping"%>
        <%= link_to "Soy un encargado incorporado y necesito llenar vacantes.",
            signup_path(:role=> 'dependency_attendant'),
        class:"btn btn-link text-wrapping"%>
        <%= link_to "Soy una instituticion  y necesito datos de mis estudiantes.",
            signup_path(:role=>'institution_attendant'), class:"btn btn-link text-wrapping"%>
    </pre>
</div>
