<h2>Register</h2>
<div id="links">
    <pre>
        Select an option depending in your profile:
        <%= link_to "I'm a student and I'll be doing the social service.", signup_path(:role => 'student'), class: "btn btn-link"%>
        <%= link_to "I'm an attendant incorporated and I need to fill my vacancies.", signup_path(:role=> 'attendantdependency'), class: "btn btn-link"%>
        <%= link_to "I'm an institution with students doing his social service here.", signup_path(:role=> 'attendantinstitution'), class: "btn btn-link"%>
    </pre>
</div>
