<footer class="footer span9">
    <small>
        Plataforma del Servicio Social esta siendo desarrollado por
        Saul Gausin
    </small>
    <nav>
        <ul>
            <li><%= link_to "Nosotros", about_path %></li>
            <li><%= link_to "Contacto", contact_path %></li>
        </ul>
    </nav>
</footer>
